.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  outline: none;
  margin-bottom: 10px;
  width: 300px;
  padding: 10px;
  font-size: 16px;
  font-family: "Courgette", cursive;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  border: 0;
}

.login-button {
  background: rgb(77, 247, 43);
  border: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.create-account {
  color: white;
  text-decoration: none;
  float: right;
}

.create-account:hover {
  text-decoration: underline;
}

.dashboard-card {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  width: 100%;
  padding: 24px;
  cursor: pointer;
}

.dashboard-cards-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.icon-body {
  margin-top: 25px;
}

.card-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #121212;
  margin: 0;
}

.card-desc {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  opacity: 0.6;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .dashboard-cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard-wrapper {
    display: block;
  }
  .dashboard-nav {
    display: none;
  }
  .dashboard-main {
    height: 100vh
  }
}
