ul {
  padding: 0;
  margin: 0;
}
.options li {
  list-style: none;
  border-bottom: 1px solid rgb(83, 176, 101, 0.2);
  padding: 10px;
}

.country-text {
  margin-bottom: 10px;
  display: block;
}

.country-item {
  cursor: pointer;
}

.nav-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 0;
  width: 1200px;
  margin: auto;
}
.nav-wrapper {
  width: 100%;
  background-color: white;
}

.nav-image {
  width: 48px;
  height: 48px;
}

.nav-image-wrapper {
}

.nav-links-wrapper {
  width: 350px;
  margin-left: auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #121212;
}

.landing-body-wrapper {
  background-color: white;
  min-height: 100vh;
}

.dashboard-wrapper {
  display: grid;
  /* grid-template-columns: 2fr 10fr; */
  grid-template-columns: 240px auto;
}

.dashboard-nav {
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-right: 1px solid #ececec;
  /* position: fixed; */
}

.dashboard-main {
  background: #fbfbfb;
}

.dashboard-nav img {
  width: 60px;
  height: 60px;
}

.dashboard-nav nav {
  margin-top: 40px;
  width: 60%;
  margin-right: auto;
}

.dashboard-nav nav ul {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.dashboard-nav-item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

#dashboard-main-nav {
  background: #ffffff;
  padding: 15px 40px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #ececec;
}

#dashboard-main-nav p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  color: #000000;
}

.dashboard-main-nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-main-nav-icons span {
  padding: 0 15px;
}

.dashboard-main-nav-icons > * {
  cursor: pointer;
}

#dashboard-main-content {
  padding: 40px;
  margin-top: 60px;
}

.bg-white {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 10px 24px;
}

.fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-nav-item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.dashboard-nav {
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ececec;
  /* position: fixed; */
}

.dashboard-main {
  background: #fbfbfb;
}

.dashboard-nav img {
  width: 60px;
  height: 60px;
}

.dashboard-nav nav {
  margin-top: 40px;
  width: 60%;
  margin-right: auto;
}

.dashboard-nav nav ul {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.dashboard-nav-item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 0 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #121212;
}

a {
  text-decoration: none;
  color: #121212;
}



label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
