.accounts-wrapper {
  padding: 40px;
}

.accounts-wrapper h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.top-tier-wrapper {
  background: #ddd;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.submit-button {
  background: #111;
  border: 0;
  /* width: 100%; */
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 300px;
  margin-top: 20px;
}

table {
  width: 100%;
}

.details {
  margin-bottom: 20px;
}

.details-line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.detail-header {
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #000000;
}
.center {
  text-align: center;
}

.auto {
  margin: auto;
}
